/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {-webkit-box-sizing: border-box;box-sizing: border-box;}
 
 body{
 color:undefined;
 font-family: 'Anuphan', sans-serif;
 
}

.about-section {
    text-align: center;
    margin: auto;
    max-width: 70%;
}     

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: auto;
}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
        height: 70px;
        width: 200px;
    
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}



.navigation-list {
    list-style-type: none;  
  }
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  .navigation-list li .navigation-list__item--active {
    text-decoration: none;
  }
    
h1 {
    font-size: 24px;

    line-height: 1.5;

    font-style: bold;

    margin-bottom: 30px;
    
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;

    line-height: 1.2;

    font-style: normal;



}

a {
    color: black;
  }
a:visited {
    color: black
}
a:hover {
    text-decoration: none; /* no underlining when hovering over a link */
    } 
a:active {
    color: #0003c1
}
a:focus {
    outline: 2px blue; /* outlines link for keyboard */
}


table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 60%;
}
th, td {
    text-align: left;
    padding: 8px;
  }
  
  thead {
    background-color: #f2f2f2;
    font-size: large;
  }
  
  tr:nth-child(2) {
    background-color: #f2f2f2;
  }
  

form {
    margin: 0 auto;
    max-width: 600px;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .standard-label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem; /* Adds a 1rem gap between form groups */
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #ee2222;
  }
  
  button[type="submit"] {
    background-color:#ee2222;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color:#ee2222;
  }
  
  .form-group:nth-child(1) {
    order: 1;
  }
  
  .form-group:nth-child(2) {
    order: 2;
  }
  
  .form-group:nth-child(3) {
    order: 3;
  }

.center-heading{
    margin: 50px auto;
    text-align: center;

}

.button {
    border: none; /* overwrites browser defaults and resets the border */
    display: inline-block;
    font-family: inherit; /* takes the font from the outer container */
   /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: black;
    color: #ee2222;
    text-decoration: none;
    padding: 10px;   /* adds spacing to the button */ 
    border-radius: 3px; 
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid black (0,0,0,0.1);
    text-align: center;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;   
   
}



button {
    border: none; /* overwrites browser defaults and resets the border */
    display: inline-block;
    font-family: inherit; /* takes the font from the outer container */
   /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: black;
    color: #ee2222;
    text-decoration: none;
    padding: 10px;   /* adds spacing to the button */ 
    border-radius: 3px; 
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid black (0,0,0,0.1);
    text-align: center;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;   
   
}

@media screen and (max-width:767px) {
.button .secondary-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

.button {
    width: 80%;
    margin-bottom: 10%;
  }
  .secondary-button {
    width: 80%;
    margin-top: 10%;
  }
}
}

button:hover {
    background-color: #ee2222;
    color: black;
    cursor: pointer;
    opacity: 0.8;
}

button:focus {
    background-color: #ee2222;
    color: black;
    cursor: pointer;
    opacity: 0.8;
}

.button:hover {
    background-color: #ee2222;
    color: black;
    cursor: pointer;
    opacity: 0.8;
}

.button:focus {
    background-color: #ee2222;
    color: black;
    cursor: pointer;
    opacity: 0.8;
}
.secondary-button {
    border-radius: 3px;
    background-color:#ee2222;
    color: black;

}
.secondary-button:hover {
        background-color: black;
        color: #ee2222;
        cursor: pointer;
        opacity: none;
        
}
.tertiary-button {
    border-radius: 3px;
    background-color:#fdfdfd;
    color: black;

}
.tertiary-button:hover {
        background-color: #fdfdfd;
        color:#ee2222;
        cursor: pointer;
        opacity: none;
        
}
button:focus {
        background-color: black;
        color: #ee2222;
        cursor: pointer;
        opacity: none;
        
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    margin-bottom: 40px;
    max-width: 400px;
    height: auto;
    border: 5px;
    border-radius: 50%;
    text-align: left;
}

@media screen and (max-width:767px) {
    .profile__portrait {
        width: 125px;
        height: auto;
        margin-left: 20px;
    }
    
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 100px;
    
}
.profile {
    width: 100;
    max-width: 700px;
    margin: 0 auto
}


.grid__item {
    display: inline-block;
    width: 33%;
    border: 2px solid #fff;
}
@supports (display: grid) {
 .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
 }
 .grid__item {
    background-color: whitesmoke;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
 } 
 
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
   100% {
        fill: #f76414
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
   100% {
        fill: #f76414
    }
}

/* @keyframes move {
    from {
        transform: translate(0. 50px);
    }
    to {transform: translate(200px, 50px);
    }
}
@keyframes move-reverse {
from {transform: translate(446px, 48px);
}
to {
    transform:translate(100px, 48px)
} 
}*/

@-webkit-keyframes spin {
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360);transform: rotate(360);}
}

@keyframes spin {
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360);transform: rotate(360);}
}

.isle-of-man-graphic{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    text-align: center;
    
   
}
.isle-of-man-graphic{
    -webkit-animation: 10s spin infinite  linear;
            animation: 10s spin infinite  linear;
}

.port-erin {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
   /* animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;*/
}
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
      
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap:10px
    }
.grid__item:last-child{
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size: 22px;
    }
}
